body{
    background: rgb(58,164,180);
    background: linear-gradient(90deg, rgba(58,164,180,1) 0%, rgba(239,253,29,1) 50%, rgba(252,176,69,1) 100%);
}

h1{
  color:rgb(240, 61, 61); 
}

h2{
  color:rgb(45, 255, 185);
}

h3{
  color:rgb(0, 0, 255);
}